{% extends "base.html" %}
{% block title %} Homepage du site {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Module 164 (Luc Villevet)</h3>
			<br><br><p>Pour que ça marche, on a besoin de Laragon en cours d'exécution.
			<br><br>En plus de Laragon, il faut également avoir installé Python.
			<br><br>La première fois, il faut aussi exécuter le fichier "1_ImportationDimpSql.py" dans le dossier "database".
			<br><br>Lorsque "run_mon_app.py" est aussi en cours d'exécution, on peut accéder au site Internet à cette adresse :
			<br><a href="http://127.0.0.3:5554">http://127.0.0.3:5554</a></p>
		</div>
	</div>
</div>
{% endblock %}
